<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.icia.zxc.dao.BoardDao">
<select id="showboard">
select * from board1 order by bCnt desc limit #{newboard},20;
</select>

<select id="boardread">
select * from board1 where bCnt = #{bCnt};
</select>

<insert id="boardinfo">
insert into board1 values(default,#{userId},#{bTitle},#{bDetail})
</insert>

<update id="boardupdate">
UPDATE board1 SET bDetail = #{bDetail} WHERE bCnt = #{bCnt};
</update>

<delete id="boarddelete">
	delete from board1 where bCnt=#{bCnt}
</delete>


</mapper>