<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<h1>ex2.html</h1>
	<div>
		<a th:href="@{/th/ex1}">Ex1</a>
	</div>
	<div>
		<a th:href="@{/th/ex3(name='cha',age=20,addr='인천')}">Ex3-param</a>
	</div>
	<div>
		<form action="/th/ex4" method="post">
			아이디: <input type="text" id="userid" name="userid">
			비밀번호: <input type="text" id="userpw" name="userpw">
		
			<button>보내기</button>
		</form>	
	</div>
	<script>
		
	</script>
		
	</body>
</html>